.container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}

.container > h1 {
  margin: 50px 0;
  border-bottom: 1px solid #fff;
}

.container > .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.container > .details > h1 {
  color: rgb(48, 116, 204);
  text-align: center;
}

.container > .details > p {
  padding: 0 30px;
  margin: 30px 0;
  text-align: justify;
}