.container {
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 0 0 40px 40px;
  background-color: rgb(48, 116, 204);
}

.container > .logo_links {
  width: 95%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.container > .logo_links > .logo > a {
  height: 50px;
  margin: 5px 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .logo_links > .logo > a > img {
  height: 100%;
}

.container > .logo_links > .logo > a > span {
  font-weight: bold;
}

.container > .logo_links > .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .logo_links > .links > ul {
  display: flex;
  list-style-type: none;
}

.container > .logo_links > .links > ul > li {
  padding: 0 10px;
}

.container > .logo_links > .links > ul > li > a {
  color: #fff;
  font-weight: bold;
  transition: 0.4s all;
}

.container > .logo_links > .links > ul > li > a:hover {
  border-bottom: 1px solid #fff;
}
